/***** Global CSS *****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html {
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: var(--mainBckgr);
  color: var(--darkFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
   padding-bottom: 1em;
}

a {
   text-decoration: none;
}

/***** Colours *****/
/* All colours can be used using var(--colourYouWant) */

:root {
   /* Main colors */
  --mainBckgr: #fff;
  --secondaryBckgr: #333; /*right sidebar bckgr, search field, dark button bckg */
  --redAccent: red;
  --greenAccent: green;
  --darkerRed: darkred; /* hover effects */
  --darkerGreen: darkgreen; /* hover effects */
  --lightFont: #fff; /* main font, light icons */
  --darkFont: #333; /* secondary font, dark grey icons, interaction bar */
  
  /* feature colors */
  --reviewStars: yellow;
}


/***** Fonts *****/ 

h1 {
  font-size: 2.441rem;
  font-weight: 700;
}

h2 {
  font-size: 1.563rem;
  font-weight: 600;
}

/* h3 {
  font-size: 1.25rem;
  font-weight: 600;
} */


/***** Buttons *****/ 

.btn {
   display: inline-block;
   font-size: 1.125rem;
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   font-weight: 600;
   cursor: pointer;
   border: none;
   border-radius: 5px;
   padding: 1em 1em;
}

.btn-primary {
  background: var(--greenAccent);
  color: var(--lightFont); 
}

.btn-primary:hover {
   background: var(--darkerGreen);
 }

.btn-secondary { 
  background: var(--redAccent);
  color: var(--lightFont);
}

.btn-secondary:hover {
   background: var(--darkerRed);
 }

/***** Forms *****/ 

form, label {
   color: var(--darkFont);
   text-align: left;
}

form {
   padding: 0 1em;
}

.form-container {
   width: 90%;
   margin: 0 auto;
}

.form-group {
   display: flex;
   flex-direction: column;
}

label {
   color: var(--redAccent);
   padding: 0.5em 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
   line-height: 1.4;
   padding: 0.5em;
   border: 1px solid #737373;
   border-radius: 5px;
   margin-bottom: 1em;
}

form .btn {
   margin: 1em 0;
   width: 100%;
}

@media (min-width: 700px) {
   .form-container {
       width: 60%;
   }
}

@media (min-width: 1000px) {
   .form-container {
       width: 30%;
       max-width: 500px;
   }
}