/***** Global CSS *****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

html {
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: none;
}



/***** Colours *****/
/* All colours can be used using var(--colourYouWant) */

:root {
   /* Main colors */
  --mainBckgr: #fff;
  --secondaryBckgr: #333; /*right sidebar bckgr, search field, dark button bckg */
  --redAccent: red;
  --greenAccent: green;
  --darkerRed: darkred; /* hover effects */
  --darkerGreen: darkgreen; /* hover effects */
  --lightFont: #fff; /* main font, light icons */
  --darkFont: #333; /* secondary font, dark grey icons, interaction bar */
  
  /* feature colors */


}


/***** Fonts *****/ 
/* used for: main header, right sidebar header, messages header */

/* h1 {
  font-size: 19px;
  font-weight: 800;
  line-height: 25px;
} */

/* navbar on desktop,  */
/* h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
} */

/* profile name, right sidebar title */
/* h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
} */

/* main text/feed text */
/* .mainText {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
} */

/* secondary text (dark grey) */
/* .secondaryText {
  color: var(--darkGrey);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
} */

/* mentions, hashtags, show more on the sidebar */
/* .blueText {
  color: var(--blueAccent);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.darkButton {
  background: var(--secondaryBckgr);
  color: var(--blueAccent); 
}

.blueButton { 
  background: var(--blueAccent);
  color: var(--buttonFont);
} */