.page-header {
    font-size: 1.953rem;
    text-align: center;
    padding: 1em 0;
}

.emailHelp {
    color: var(--darkFont);
    text-align: left;
}

.emailHelp{
    font-size: 0.8rem;
    font-style: italic;
}
